/* NAV BUTTON/BURGER */
.bar {
    background: white;
    mix-blend-mode: difference;
    height: 1px;
}  
.bar-top {
    width: 25px;
} 
.bar-top.move {
    animation: barMove 0.8s linear infinite;
}  
.bar-middle {
    width: 20px;
}  
.bar-middle.move {
    animation: barMove 0.8s 0.1s ease infinite;
} 
.bar-bottom {
    width: 15px;
} 
.bar-bottom.move {
    animation: barMove 0.8s 0.2s linear infinite;
}
@keyframes barMove {
    from {
      width: 25px;
    }
    to {
      width: 10px;
    }
}
.navbutton {
    /* background: rgba(0, 0, 0, 0.5); */
    background-color: transparent;
    mix-blend-mode: difference;
    position: fixed;
    z-index: 9999;
    top: 10px;
    right: 1%;
    transform: translateX(-50%);
    transition: 0.3s ease;
    border: none;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 28px;
    width: 40px;
  }
